body {
  max-width: 600px;
  margin: auto;
  font-weight: 550;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 40px 30px;
  margin: 20px 0px 16px -85px;
  width: 700px;

}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  width: 800px;
  margin: 0px 0px 0px -105px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 30px ;
  margin: 50px 30px 0px 435px;
}

/* I intentionally didn't read the bottom part of the README and instead opted for creating it by
sight. */